/*********************************
GENERAL
*********************************/
body{
  font-family: 'Open Sans', sans-serif
}

#wrapper{
  max-width:940px;
  margin:0 auto;
   padding: 0 5%
}

/*a{
  text-decoration:none
}*/

img {
  max-width: 100%; /* Always good to use a percentage instead of a fixed amount in order to help make the website responsive*/
} 

h3{
  margin:0 0 1em 0;
}

/*********************************
HEADING
*********************************/

header{
/*float: left;*/
margin:0 0 30px 0;  
padding: 5px 0 0 0;
width:100%; 
height:69px; 
}

#logo{
  text-align:center;
  margin: 0;
}

h1{
  font-family:'Change One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height:1em;
   
}

h2{
  font-size:.75em;
  margin:-5px 0 0 0;
  font-weight: normal; 
}


/*********************************
NAVIGATION
*********************************/
nav{
  text-align:center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
  }
nav li{
  display:inline-block; /* puts the items side by side, but keeps the width and height. Block will push things out of the way,
   Inline will be just text...like an anchor element in a paragraph (which doesn't push anything) */
}

nav a{
  font-weight: 800; /*Can be set to normal or bold, or a number*/
  padding: 15px 10px;
  text-decoration: none;
} 
/*********************************
FOOTER
*********************************/
footer{
  font-size: .75em;
  text-align:center;
  padding-top:30px;
  color:#ccc;
  clear:both; /*since we have a float item below, instead of showing side by side, it will clear both left and right items and appear on the bottom */
}

.social-icon{
  width:20px;
  height:20px;
  margin: 0 5px;
}

/*********************************
PAGE:PORTFOLIO
*********************************/

#gallery{
  margin:0;
  padding:0;
  list-style:none; /*this will remove any bullet points from a list*/
}

#gallery a{
  text-decoration:none;
}

#gallery li{
  float:left; /*makes the elements appear side by side, going from left to right */
  width:18%;
  margin:2.5%;
  background-color:rgb(229,229,229);
  color:#bdc3c7;
  border-color:black;
}
 
#gallery li a p{ /*from gallery to list item, to 'a' item(since it starts with a link), to paragraph)*/
  margin:0;
  padding:5%;
  font-size: 0.75em;
  text-align:center;
  font-weight: 600;
  color: rgb(34,34,34);
} 
/*********************************
PAGE: ABOUT
*********************************/

.profile-photo{
  display:block;
  max-width:150px;
  margin:0 auto 30px;
  border-radius:100%;
    
}

.about{
  max-width:710px;
}

/*********************************
PAGE:CONTACT
*********************************/


.contact-info{
  list-style:none;
  margin:0;
  padding:0;
    font-size:0.9em;
}

.contact-info a{
    display:block; /*means our code will take up space, so it won't sit on top of something*/
    min-height:20px;
  background-repeat:no-repeat; /*by default, background images in css will always repeat*/
  background-size:20px 20px;
  padding: 0 0 0 30px;
margin:0 0 10px;
  
}

.contact-info li.phone a{ /*takes the phone class inside the list item, and affects the anchor text*/
  background-image: url('../img/phone.png');/*the 2 dots takes you out of the css directory up 1 directory so you can pull the picture in the right director*/
}  
  
 .contact-info li.mail a{
   background-image:url('../img/mail.png');
    
}

 .contact-info li.twitter a{
   background-image:url('../img/twitter.png');
  }
    
/*********************************
COLORS
*********************************/

/* site body */
body{
  background-color:#fff;
    color:#111;
}  

/* green header*/
header {
  background-image:url('../img/header-background.jpeg');
  background-position:center top;
  background-size:cover;
  overflow:auto;
  border-color: #599a68;

} 
header a{
text-decoration: none;
}
/* nav background on mobile */
/*nav {
  background:#599a68;
}*/

/* logo text */
header h1, h2{
  color:#fff;
} 

/*links*/
/*a{
  color: #6ab47b;
}*/

/* nav link */
nav a, nav a:visited {
   color:#fff;
   
}

/* selected nav link */
nav a.selected, nav a:hover{
 color:#ADD0B6; 
}


/* nav toolbar design*/
li{
  list-style:none;
  list-style-image:none;
}

/*********************************
                BLOG
*********************************/

.blog{
 max-width:710px;
 margin:auto;
 line-height:1.7em;
}

.blog_top p .blog_top h1{
  text-align:center;
  line-height:1em;

}



.featured_image{
  max-width:510px;
  max-height:310px;
  margin:3% auto 15% auto;
  
}

.left_blogbox{
  width:28%;
  float:left;
  padding-right:16px;
  margin-top:3px;
}

.right_blogbox{
  width:28%; 
  float:right;  
  padding-right:3%
}

.comments{
  margin-top:10%;
}
/*********************************
       BLOG PREVIEW (HOMEPAGE)
*********************************/

.blog_preview{
  max-width:710px;
  margin:auto;
}

.blog_preview img{
  max-width:450px;
  margin: 3% 19%;
}
/*********************************
       BLOG PREVIEW (HOMEPAGE)
*********************************/

.blog_preview{
  max-width:710px;
  margin:auto;
}

.blog_preview img{
  max-width:450px;
  margin: 3% 19%;
}

.blog_readmore_outer {
  width:25%;
  height:58px;
  margin:25px auto 60px;
}



.blog_readmore_outer a{
  text-decoration:none;
  color:black;

}

.blog_readmore_inner{
  border-style:solid;
  border-width:1px;
  border-radius:15px;
  margin:auto;
  background-color:rgb(44,154,183);
}

.blog_readmore_inner p{
    font-size:20px;
    padding:0% 21%;
    color:white;
  }



/*********************************
       CODERBYTE (HOMEPAGE)
*********************************/

.coderbyte_main{
  max-width:710px;
  margin:auto;
}

.coderbyte_links{
  padding-top:4%;
}

/*********************************
       CODERBYTE PROBLEMS
*********************************/

.coderbyte_example{
  max-width:710px;
  margin:auto;

}

.coderbyte_example h3{
  margin-top:30px;
}

.coderbyte_problem{
  border-style:solid;
  margin-bottom:10%;
}

.coderbyte_problem p{
  padding: 4px 20px;
}

.coderbyte_solution{
  border-style:solid;
  margin-bottom:10%;
  background-color: rgb(31,70,97);
  color: rgb(247,247,247);
}

.coderbyte_solution p{
  padding: 10px 31px;
}

/*.coderbyte_solution ul p{
  margin-bottom: -11px;
}*/

.coderbyte_solution li{
  margin-left:10%;
}

.coderbyte_analysis{
  margin-top:10%;
}



/*********************************
Why Learing To Code Has Changed My Life
*********************************/

.learn-to-code-table{
  border-style:solid;
  width:100%;
}

.learn-to-code-table td{
  width:1%;
  border-style:groove ;
  text-align:center;
}

.show-ul li{
  list-style:initial;
}

/*********************************
            Tic-Tac_Toe
*********************************/

.tic-tac-toe input[type='text']{
  width:15%; 
  height:102px;
  text-align:center;
  font-size: 75px;
}



.tic-tac-toe input[type='button']{
  font-size:40px;
  margin-left: 35%;
  margin-bottom:10%;
  background-color:rgb(213, 92, 57);
  color:white;
}

/*
 .tic-tac-toe #table{
  border-style: solid;
  border-color: black;
  width: 100%;
  height:250px;
  margin: 0 0 7% 23%;
  text-align:center;
  background-color:grey          
 } 
*/

 










/*********************************
        Tic-Tac-Toe-1
*********************************/

.tic-tac-toe {
  max-width:710px;
  margin:auto auto 2%;
}

.tic-tac-toe h1 {
  margin: 0 0 8% 15%
}


.tic-tac-toe td {
  width:20%;
  height:90px;
  border:2px solid black; 
  display:inline-block;
  margin-left:1%;
  background-color:grey;
  font-size:77px;
  text-align:center;
  
}

.tic-tac-toe #message{
    margin: 0 auto 40px;
    max-width: 35%;
    height: 38px;
    padding: 13px 0 0 0;
    text-align: center;
    font-size:25px;
    color:rgb(39, 112, 229)
}

.tic-tac-toe tr{
  text-align:center;
  height:105px;
  
}




/*
.tic-tac-toe td:hover{
    background-color:rgba(255, 248, 248, 0.78);
    cursor:pointer;
        
}
*/

.tic-tac-toe table{
  width:100%;
  text-align:center;
  margin-bottom: 7%;
}


/*********************************
            Connect Four
*********************************/

.connect-four{
  max-width:710px;
  margin: auto auto 10% ;
  text-align:center
}

.connect-four-circle {
  width:10%;
  height:45px;
  border:2px solid black;
  border-radius:50%;
  display:inline-block;
  margin: 7px;  
}

.connect-four h3{
  font-size:30px;
  margin:0 0% 4% 0%
    
}

#playColorMessage{
  margin-bottom:4%;
  font-size:25px
  
}

#newGameButton {
  margin: -8% 45% 20px;
  font-size:1.5em; 
  width:150px;
  height:50px;
  border: 3px solid ;
  border-radius:10px;
  background-color:orange;
  color:white;
}